@charset "utf-8";

// Set your brand colors
$blue: #4d8cb2;
$blue-lighter: #73a4c3;
$blue-lightest: #f3f3f3;
$pink: #A64DB2;
$pink-lighter: #B973C3;
$orange: #B2734D;
$orange-lighter: #C39173;
$green: #59B24D;
$green-lighter: #7CC373;
$red: #AD5271;
$red-lighter: #CA8EA2;
$purple: #6152AD;
$purple-lighter: #988ECA;
$cyan: #52AD8E;
$cyan-lighter: #8ECAB5;
$muck: #9EAD52;
$muck-lighter: #C0CA8E;

// Update Bulma's global variables
$primary: $blue;
$link: $purple;
$danger: $orange;
$info: $red;
$success: $green;
$warning: $cyan;

// Update some of Bulma's component variables
$body-background-color: $blue-lightest;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";