.kheader {
    max-height: 50vh;
}

.kbar {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 0px;
}

.klogo {
    display: inline-block;
    vertical-align: middle;
}

.ktitletext {
    display: inline-block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

.knavbar {
    background-color: inherit;
}
