
.klogo {
    display: inline-block;
    vertical-align: middle;
}

.ktitletext {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}
