.cmap {
    width : 100%;
}

.red_tile { 
    fill: #ff7c98;
 }

.red_tile:hover { 
    fill: #ffacc5;
    cursor: pointer;
 }

.blue_tile { 
     fill: #98ff7c;
  }

.blue_tile:hover { 
     fill: #c5ffac;
     cursor: pointer;
  }

.gold_tile { 
      fill: #ffb07c;
   }

.gold_tile:hover { 
      fill: #ffc9ac;
      cursor: pointer;
   }

.pink_tile { 
       fill: #7cb5ff;
    }

.pink_tile:hover { 
       fill: #acdeff;
       cursor: pointer;
    }