
.floatingContainer {
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 10px;
    border-radius: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.midSection {
    overflow-y: scroll;
    min-height: 75vh;
}